{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<section class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- XRE300 Card -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'app/img/Adventure1.png' %}" class="card-img-top" alt="XRE300">
                <div class="card-body">
                    <h5 class="card-title">XRE300</h5>
                    <p class="card-text fw-bold fs-5 fs-md-6">$ 5.990.000</p>
                    <div class="accordion accordion-flush" id="accordionFlushExampleXRE300">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOneXRE300">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneXRE300" aria-expanded="false" aria-controls="flush-collapseOneXRE300">
                                    Descripción
                                </button>
                            </h2>
                            <div id="flush-collapseOneXRE300" class="accordion-collapse collapse" aria-labelledby="flush-headingOneXRE300" data-bs-parent="#accordionFlushExampleXRE300">
                                <div class="accordion-body">
                                    La XRE300 ABS cuenta con un estanque de 13.8 litros para disfrutar grandes trayectos. La nueva versión de la XRE300 ABS incluye una suspensión delantera de 245 mm. de recorrido y 225 mm. en la trasera, brindando una excelente estabilidad en terrenos irregulares. Muévete seguro, tranquilo y confiado.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwoXRE300">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoXRE300" aria-expanded="false" aria-controls="flush-collapseTwoXRE300">
                                    Especificaciones
                                </button>
                            </h2>
                            <div id="flush-collapseTwoXRE300" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoXRE300" data-bs-parent="#accordionFlushExampleXRE300">
                                <div class="accordion-body">
                                    <table class="table table-sm">
                                        <tr><th>Cilindraje</th><td>291,6 cc</td></tr>
                                        <tr><th>Peso</th><td>163 kg</td></tr>
                                        <tr><th>Potencia Máxima</th><td>25 HP A 7.500 RPM</td></tr>
                                        <tr><th>Torque Máximo</th><td>27 Nm a 6.000 RPM</td></tr>
                                        <tr><th>Tipo de motor</th><td>Monocilíndrico, 4 Tiempos, DOHC, enfriado por aire</td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'agregar_al_carrito' 'XRE300' 5990000 %}" class="btn btn-secondary">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <!-- YZ-250X Card -->
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'app/img/YZ-250X.png' %}" class="card-img-top" alt="YZ-250X">
                <div class="card-body">
                    <h5 class="card-title">YZ-250X</h5>
                    <p class="card-text fw-bold">$ 7.290.000</p>
                    <div class="accordion accordion-flush" id="accordionFlushExampleYZ-250X">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOneYZ-250X">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneYZ-250X" aria-expanded="false" aria-controls="flush-collapseOneYZ-250X">
                                    Descripción
                                </button>
                            </h2>
                            <div id="flush-collapseOneYZ-250X" class="accordion-collapse collapse" aria-labelledby="flush-headingOneYZ-250X" data-bs-parent="#accordionFlushExampleYZ-250X">
                                <div class="accordion-body">
                                    La nueva YZ250X dos tiempos está desarrollada específicamente para carreras Off-Road. Está diseñada para atraer a los pilotos que prefieren el manejo preciso, la entrega de potencia instantánea y el mantenimiento sencillo del motor en revoluciones altas.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwoYZ-250X">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoYZ-250X" aria-expanded="false" aria-controls="flush-collapseTwoYZ-250X">
                                    Especificaciones
                                </button>
                            </h2>
                            <div id="flush-collapseTwoYZ-250X" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoYZ-250X" data-bs-parent="#accordionFlushExampleYZ-250X">
                                <div class="accordion-body">
                                    <table class="table table-sm">
                                        <tr><th>Cilindrada</th><td>249 cm3</td></tr>
                                        <tr><th>Peso</th><td>104 Kg</td></tr>
                                        <tr><th>Sistema de lubricación</th><td>Mezcla previa, YAMALUBE 2R, 30:1</td></tr>
                                        <tr><th>Tipo de embrague</th><td>Multidisco en baño de aceite</td></tr>
                                        <tr><th>Tipo de motor</th><td>2 tiempos, refrigerado por líquido, YPVS, inducción por válvula de láminas</td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'agregar_al_carrito' 'YZ-250X' 7290000 %}" class="btn btn-secondary">Agregar al carrito</a>
                </div>
            </div>
        </div>


    <!-- R15 V4 -->
    <section>
        <img class="img-moto" src="{% static 'app/img/R15v4 Red.png' %}" alt="">
        <h2>R15 V4</h2>
        <p class="p-moto fw-bold">$ 3.990.000</p>

        <div class="accordion accordion-flush" id="accordionFlushExampleR15">
            <div class="accordion accordion-flush w-100" id="accordionFlushExampleR15Descripcion" style="border-radius: 10px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOneR15" aria-expanded="false"
                        aria-controls="flush-collapseOneR15">
                        Descripción
                    </button>
                </h2>
                <div id="flush-collapseOneR15" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleR15">
                    <div class="parrafo-moto row justify-content-center">
                        <p class="fw-bold text-light rectangulo-fondo">New R15 V4 es la nueva integrante de la familia Superdeportiva R-World de Yamaha, convirtiéndola en la más avanzada de su segmento por sus elementos de equipamiento, seguridad y tecnología que posee. Posee sistema Y-Connect te permitirá estar en contacto directo con tu New R15 V4 en todo momento gracias a la conexión que tiene con el celular del usuario.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush w-100" id="accordionFlushExampleR15Especificaciones" style="border-radius: 10px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoR15" aria-expanded="false"
                        aria-controls="flush-collapseTwoR15">
                        Especificaciones
                    </button>
                </h2>
                <div id="flush-collapseTwoR15" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleR15">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <tr>
                                <th>Cilindraje</th>
                                <td>155 cc</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>140 kg</td>
                            </tr>
                            <tr>
                                <th>Potencia Máxima</th>
                                <td>18.1 HP a 10.000 rpm</td>
                            </tr>
                            <tr>
                                <th>Torque Máximo</th>
                                <td>14.2 Nm @ 7.500 rpm</td>
                            </tr>
                            <tr>
                                <th>Tipo de motor</th>
                                <td>4 Tiempos, SOHC, Refrigerado por líquido, 1 cilindro</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="botones-rectangulo row justify-content-center">
                <div class="col-auto">
                    <a href="{% url 'agregar_al_carrito' 'R15 V4' 3990000 %}" class="btn btn-secondary">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </section>
    <!-- R3A -->
    <section>
        <img class="img-moto" src="{% static 'app/img/R3A_Azul.png' %}" alt="">
        <h2>R3A</h2>
        <p class="p-moto fw-bold">$ 5.990.000</p>

        <div class="accordion accordion-flush" id="accordionFlushExampleR3A">
            <div class="accordion accordion-flush w-100" id="accordionFlushExampleR3ADescripcion" style="border-radius: 10px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOneR3A" aria-expanded="false"
                        aria-controls="flush-collapseOneR3A">
                        Descripción
                    </button>
                </h2>
                <div id="flush-collapseOneR3A" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleR3A">
                    <div class="parrafo-moto row justify-content-center">
                        <p class="fw-bold text-light rectangulo-fondo">Esta superdeportiva ligera presenta una estética completamente renovada de inspiración MotoGP® que la convierte en la 300 más radical tanto en las calles como en circuito. Su nueva carrocería estilizada recuerda a la máquina YZR-M1 MotoGP® de Yamaha, mientras que la estética agresiva de su doble faro LED destaca la más pura esencia de la serie R. La nueva horquilla invertida de 37 mm de altas especificaciones te proporciona una mejor sensación y respuesta en cuanto a suspensión, mientras que el depósito de combustible más bajo y la posición revisada del manillar mejoran la ergonomía del conductor para ofrecerte mayor confort y control. Escucha la llamada y adéntrate en el Mundo R.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush w-100" id="accordionFlushExampleR3AEspecificaciones" style="border-radius: 10px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoR3A" aria-expanded="false"
                        aria-controls="flush-collapseTwoR3A">
                        Especificaciones
                    </button>
                </h2>
                <div id="flush-collapseTwoR3A" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleR3A">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <tr>
                                <th>Cilindraje</th>
                                <td>321 cc</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>166 kg</td>
                            </tr>
                            <tr>
                                <th>Potencia Máxima</th>
                                <td>30,9 KW (42,0PS) a 10.750 rpm</td>
                            </tr>
                            <tr>
                                <th>Torque Máximo</th>
                                <td>29,6 Nm (3,02 Kg-m) a 9000 rpm</td>
                            </tr>
                            <tr>
                                <th>Tipo de motor</th>
                                <td>2 cilindros, 4 tiempos, refrigerado por líquido, DOHC, 4 válvulas</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="botones-rectangulo row justify-content-center">
                <div class="col-auto">
                    <a href="{% url 'agregar_al_carrito' 'R3A' 5990000 %}" class="btn btn-secondary">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </section>

    <!-- R7 -->
    <section>
        <img class="img-moto" src="{% static 'app/img/R7 Azul.png' %}" alt="">
        <h2>R7</h2>
        <p class="p-moto fw-bold">$ 9.990.000</p>
        <div class="accordion accordion-flush" id="accordionFlushExampleR7">
            <div class="accordion accordion-flush w-100" id="accordionFlushExampleR7Descripcion" style="border-radius: 10px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOneR7" aria-expanded="false"
                        aria-controls="flush-collapseOneR7">
                        Descripción
                    </button>
                </h2>
                <div id="flush-collapseOneR7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleR7">
                    <div class="parrafo-moto row justify-content-center">
                        <p class="fw-bold text-light rectangulo-fondo">Una superdeportiva de nueva generación con el estilo legendario de Yamaha que combina un avanzado motor CP2 con un chasis ultradelgado y ligero para proporcionar un rendimiento de torque tanto en la pista como en la calle. La nueva YZF - R7 está destinada a aquellos que buscan un diseño puramente Supersport con un excitante rendimiento para su día a día.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush w-100" id="accordionFlushExampleR7Especificaciones" style="border-radius: 10px;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text btn-secondary mb-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoR7" aria-expanded="false"
                        aria-controls="flush-collapseTwoR7">
                        Especificaciones
                    </button>
                </h2>
                <div id="flush-collapseTwoR7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExampleTTR-110E">
                    <div class="table-responsive">
                        <table class="table" border="2">
                            <tr>
                                <th>Cilindraje</th>
                                <td>689 cc</td>
                            </tr>
                            <tr>
                                <th>Peso</th>
                                <td>188 kg</td>
                            </tr>
                            <tr>
                                <th>Potencia Máxima</th>
                                <td>72,4 CV a 8.750 rpm</td>
                            </tr>
                            <tr>
                                <th>Torque Máximo</th>
                                <td>67.0 Nm a 6.500 rpm</td>
                            </tr>
                            <tr>
                                <th>Tipo de motor</th>
                                <td>4 tiempos DOHC, 4 válvulas, refrigerado por líquido</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="botones-rectangulo row justify-content-center">
                <div class="col-auto">
                    <a href="{% url 'agregar_al_carrito' 'R7' 9990000 %}" class="btn btn-secondary">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
